---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Hero from "../../components/Hero.astro";
import AboutUs from "../../components/AboutUs.astro";
import Testimonials from "../../components/Testimonials.astro";
import AllCourse from "../../components/AllCourse.astro";
import ContactUs from "../../components/ContactUs.astro";
import Footer from "../../components/Footer.astro";
import OSHA from "../../components/OSHA.astro";
import Services from "../../components/Services.astro";
import Announcement from "../../components/Announcement.astro";
import {
  TESTIMONIALS_ITEMS,
  ALL_COURSES,
  OSHA_COURSES_EN,
  BTN_TXT_HERO,
  ABOUT_CONT_1,
  ABOUT_CONT_2,
  ABOUT_TITLE,
  ALL_SUBTITLE,
  ALL_TITLE,
  BUTTON_TXT_ALL,
  CONTACT_US_SUBTITLE,
  CONTACT_US_TITLE,
  OSHA_SUBTITLE,
  OSHA_TILTE,
  SERVICES,
  SERVICES_TITLE,
  SLUG,
  TESTIMONIALS_SUBTITLE,
  TESTIMONIALS_TITLE,
  MENU,
} from "../../translate/sp.astro";
---

<BaseLayout title="Safety a&a">
  <Announcement />
  <Hero btnTxt={BTN_TXT_HERO} slug={SLUG} navItems={MENU} />
  <section id="about-us" class="text-black mx-6 xl:mx-32 h-max pt-14">
    <AboutUs
      title={ABOUT_TITLE}
      image="https://iili.io/JlTVDGa.jpg"
      responsiveImage=""
      content1={ABOUT_CONT_1}
      content2={ABOUT_CONT_2}
    />
  </section>
  <br />
  <br />
  <section id="osha" class="text-black mx-6 xl:mx-32 h-max">
    <OSHA subTitle={OSHA_SUBTITLE} title={OSHA_TILTE} items={OSHA_COURSES_EN} />
  </section>
  <section id="all">
    <AllCourse
      title={ALL_TITLE}
      subtitle={ALL_SUBTITLE}
      items={ALL_COURSES}
      buttonText={BUTTON_TXT_ALL}
    />
  </section>
  <section id="services" class="text-black h-max py-10 my-10 bg-main">
    <Services title={SERVICES_TITLE} services={SERVICES} />
  </section>
  <section id="testimonials">
    <Testimonials
      title={TESTIMONIALS_TITLE}
      subtitle={TESTIMONIALS_SUBTITLE}
      items={TESTIMONIALS_ITEMS}
    />
  </section>
  <!-- <section id="contact" class="text-white h-max xl:h-screen"> -->
  <section class="relative flex flex-wrap h-[80vh] lg:items-center">
    <ContactUs title={CONTACT_US_TITLE} subtitle={CONTACT_US_SUBTITLE} />
  </section>
  <Footer />
</BaseLayout>
