---
export interface AboutUsProps {
  title: string;
  content1: string;
  content2: string;
  image: string;
  responsiveImage: string;
}
const { title, content1, content2, image, responsiveImage } = Astro.props;
---

<h1 class="text-4xl text-blue-footer font-semibold text-center">{title}</h1>
<div class="flex max-lg:flex-col mt-10 mb-6">
  <img
    class=""
    src={image}
    alt={`Image of ${title}`}
    width="600"
    height="200"
  />

  <div class="mx-8">
    <p class="mt-6 overflow-hidden overflow-ellipsis text-justify">
      {content1}
      <br />
    </p>
    <button
      data-modal-target=`modal-about-us`
      data-modal-toggle=`modal-about-us`
      class="block
        md:hidden
        bg-main
        text-white
        p-4
        w-full
        rounded-full
        mt-6"
      >Read More</button
    >
    <br />
    <p class="hidden md:block mt-6 text-justify">{content2}</p>
  </div>
</div>
<!-- Main modal -->
<div
  id=`modal-about-us`
  tabindex="-1"
  aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative p-4 w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow">
      <!-- Modal header -->
      <div
        class="flex items-center justify-between p-4 md:p-5 border-b rounded-t"
      >
        <h3 class="text-xl font-semibold text-gray-900">
          {title}
        </h3>
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide=`modal-about-us`
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-4 md:p-5 space-y-4">
        {
          (
            <>
              <p class="mt-6 text-justify">
                {content1}
                <br />
              </p>
              <p class="mt-6 text-justify">{content2}</p>
            </>
          )
        }
      </div>
    </div>
  </div>
</div>
<style>
  img {
    /* width: 26rem;
    height: 20rem; */
    border-radius: 20px;
  }
</style>
