---
import type { Props as BadgeProps } from "./Badge.astro";
import Badge from "./Badge.astro";

interface Props {
  title: string;
  subtitle: string;
  items: BadgeProps[];
  buttonText: string;
}
const { title, subtitle, buttonText, items } = Astro.props;
---

<h1 class="text-4xl text-blue-footer font-semibold text-center mt-20">
  {title}
</h1>
<br />
<p class="text-center text-xl text-main tracking-wider">
  {subtitle}
</p>
<br />
<br />
<div class="grid grid-cols-2 gap-4 sm:grid-cols-3 p-10">
  {
    items.map(({ title, subtitle1, subtitle2 }) => (
      <Badge title={title} subtitle1={subtitle1} subtitle2={subtitle2} />
    ))
  }
</div>
