---
import Icon from "./Icon.astro";
interface item {
  href: string;
  title: string;
  body?: any;
}
export interface Props {
  content: item[];
  btnTxt: string;
  slug: string;
}

const { content, btnTxt, slug } = Astro.props;
---

<div id="default-carousel" class="relative w-full" data-carousel="slide">
  <!-- Carousel wrapper -->
  <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
    <!-- Items -->
    {
      content.map((item) => (
        <>
          <div class="hidden duration-700 ease-in-out h-700" data-carousel-item>
            <img
              src={item.href}
              class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
              alt={item.title}
            />
          </div>

          {/* <div class="absolute inset-0 bg-black opacity-15 z-20" /> */}
          <div class="absolute inset-0 z-20 bg-gradient-to-t from-slate-900 via-bg-slate-800 to-transparent" />
        </>
      ))
    }
  </div>
  <!-- Content over the carousel -->
  <div
    class="absolute -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 z-30 flex flex-col items-center"
  >
    <a
      href="#contact"
      class="rounded-full font-bold h-10 flex items-center px-4 cursor-pointer bg-secondary text-white hover:bg-secondary-dark"
    >
      {btnTxt}
    </a>
    <br />
    <p class="hidden md:block text-white italic tracking-wider text-center">
      {slug}
    </p>
  </div>

  <!-- Slider indicators -->
  <div
    class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse"
  >
    {
      [0, 1, 2, 3].map((index) => (
        <button
          type="button"
          class="w-3 h-3 rounded-full bg-white"
          aria-current="true"
          aria-label="Slide 1"
          data-carousel-slide-to={index}
        />
      ))
    }
  </div>
  <!-- Slider controls -->
  <button
    type="button"
    class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-prev
  >
    <span
      class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none"
    >
      <svg
        class="w-4 h-4 text-white rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 6 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 1 1 5l4 4"></path>
      </svg>
    </span>
  </button>
  <button
    type="button"
    class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-next
  >
    <span
      class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none"
    >
      <svg
        class="w-4 h-4 text-white rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 6 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 9 4-4-4-4"></path>
      </svg>
    </span>
  </button>
</div>

<script>
  const nextButtons = document.querySelectorAll("button.next");
  const prevButtons = document.querySelectorAll("button.prev");

  nextButtons.forEach((button) => {
    button.addEventListener("click", () => {
      next();
    });
  });

  prevButtons.forEach((button) => {
    button.addEventListener("click", () => {
      prev();
    });
  });

  function next() {
    const next = document.getElementById("next");
    next ? next.click() : null;
  }

  function prev() {
    const prev = document.getElementById("prev");
    prev ? prev.click() : null;
  }
</script>

<style>
  .bkgnd {
    background: linear-gradient(to right, #244663, #081016);
  }
  .white-round1,
  .white-round2 {
    width: 100%;
    height: 5rem;
    background-color: #f3f3f3;
    position: absolute;
  }
  .white-round1 {
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    top: 4.8rem;
    z-index: 1;
  }
  .white-round2 {
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    bottom: 4.8rem;
  }
  .height {
    height: 1200px;
  }

  @media screen and (max-width: 600px) {
    .sm-img {
      width: 250px;
      height: auto;
      margin-bottom: -200px;
    }
  }
</style>
