---
import Nav from "./Nav.astro";
import Icon from "./Icon.astro";
import Carousel from "./Carousel.astro";

interface Props {
  btnTxt: string;
  slug: string;
  navItems: { name: string; url: string }[];
  announcementTitle: string;
  announcementHighlight: string;
}

const images = [
  {
    href: "https://iili.io/JlTWaFj.png",
    title: "carousel-1",
    body: null,
  },
  {
    href: "https://iili.io/JlTWccx.jpg",
    title: "carousel-2",
    body: null,
  },
  {
    href: "https://iili.io/JlTWaFj.png",
    title: "carousel-3",
    body: null,
  },
  {
    href: "https://iili.io/JlTW76b.jpg",
    title: "carousel-4",
    body: null,
  },
];
const { btnTxt, slug, navItems, announcementTitle, announcementHighlight } =
  Astro.props;
---

<section class="flex-col">
  <Nav
    items={navItems}
    announcementTitle={announcementTitle}
    announcementHighlight={announcementHighlight}
  />
  <div id="banner" class="mt-[128px]">
    <Carousel content={images} btnTxt={btnTxt} slug={slug} />
  </div>
</section>

<style>
  .learn-more {
    background: linear-gradient(to right, #244663, #081016);
  }

  .h-custom {
    height: 100vh;
  }

  .mt-custom {
    margin-top: 13rem;
  }

  @media screen and (max-width: 850px) {
    section {
    }
  }

  @media screen and (min-height: 1000px) {
    .h-custom {
      height: 80vh;
    }
    section {
      background-position: top right;
    }
  }

  @media screen and (min-height: 1000px) and (min-width: 1000px) {
    section {
      background-position: top right;
    }
  }

  @media screen and (max-height: 580px) {
    .mt-custom {
      margin-top: 2rem;
    }
  }
</style>
